PORT=8000
FRONTEND_URL=http://localhost:7000
JWT_SECRET=msanthoshhh
MONGODB_URI=mongodb+srv://techadmin:2oV4Gqj4o39ZtAtY@pepagora.xi1kwl.mongodb.net/metaData?retryWrites=true&w=majority&appName=Pepagora
